[[:div {:id "wrapper"}
  [:div {:class "header"}
   [:h2 {:href "#default", :class "logo"} "Pankaj Doharey"]
   [:p "Ruby/Go/Clojure Developer."]
   [:div {:class "header-right"}
    [:img {:src "/img/avatar.jpg", :alt "Metacritical's profile picture"}]]]]

 [:div {:class "content"}
  [:div {:class "summary"}
   [:h4 "Resume Summary"]
   [:p "Programming polyglot with experience in developing and deploying
        applications on various infrastructures with multilingual backends.
        Seeking to leverage my skills at a forward looking organisation which
        understands that certain class of problems are better solved
        functionally. More specifically an organisation working in clojure."]
   [:div {:class "timeline"}
    [:span {:class "fab fa-algolia"}
     [:h3 "Timeline"]]
    [:span {:class "period"} "Jan 2017 - present."]
    [:p {:class "job-heading"} "Independent Clojure/Ruby Developer"]
    [:p {:class "job-desc"} "Summary of responsibilities goes here."]

    [:span {:class "period"} "Sep 2013 - Aug 2016"]
    [:p {:class "job-heading"} "Ruby on Rails Developer @ Pramati Technologies."]
    [:p {:class "job-desc"} "Summary of responsibilities goes here."]

    [:span {:class "period"} "Feb 2012 - Aug 2013"]
    [:p {:class "job-heading"} "Web Developer @ Priya Softweb Solutions."]
    [:p {:class "job-desc"} "Summary of responsibilities goes here."]

    [:span {:class "period"} "Jan 2009  - July 2011"]
    [:p {:class "job-heading"} "PHP Web Developer @ Fuel Networks."]
    [:p {:class "job-desc"} "Summary of responsibilities goes here."]]]]

  [:div {:class "info"}
   [:h3 {:class "speaks"} "Speaks"
    [:p "Clojure/Clojure(script), Ruby, Go, Scheme other."]]
   [:h3 "Skill" 
    [:p {:class "scale"} " Level (scale of 5)"]]
   [:h3 "Contact"]
   [:span {:class "fab fa-twitter-square"}    
    [:a {:href "https://twitter.com/pankajdoharey"}
     [:p {:class "social-media"} "@pankajdoharey"]]]
   [:span {:class "fab fa-github"}
    [:a {:href "https://github.com/metacritical"}
     [:p {:class "social-media"} "github.com/metacritical"]]] 
   [:span {:class "fas fa-envelope"}
    [:a {:href "mailto:pankajdoharey@gmail.com"}
     [:p {:class "social-media"} "pankajdoharey@gmail.com"]]]
   [:span {:class "fab fa-linkedin"}
    [:a {:href "http://linkedin.com/in/pankaj-doharey/"}
     [:p {:class "social-media"} "linkedin.com/in/pankaj-doharey/"]]]
   [:span {:class "fab fa-chrome"}
    [:a {:href "https://selfdotsend.com"}
     [:p {:class "social-media"} "selfdotsend.com"]]]]
  [:br {:style "clear:both"}]]
