body {
  margin: 0;
  font-family: Arial;
}

.header {
  width:100%
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  background-color: #1e49a2;
  padding: 20px 10px;
  border-bottom: 8px #63b132 solid;
}

.header h2.logo {
  font-size: 25px;
  font-weight: bold;
  color: ghostwhite;
  margin-bottom: -10px;
}

.header p {
  color: ghostwhite;
}

.header-right {
  float: right;
}

.header-right img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  display: block;
  margin-top: -90px;
}

@media screen and (max-width: 500px) {
  .header {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .header-right img {
    float: right;
    width: 30%;
    height: 30%;
  }
}
